
<div class="center jumbotron"> <h1>Välkommen till ännu en sida</h1>
<h2>
Det finns absolut inget intressant att se här förutom en katt
 
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> 
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
<%= link_to image_tag("kitten.jpg", alt: "Rails logo", width: "600"), "https://cdn.learnenough.com/kitten.jpg" %>
